<!DOCTYPE html>
<html>
<head>
    <title>Thank You</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="banner">
        <h1>Thank You</h1>
    </div>
    <div class="thank-you-message">
        <p>Thank you for contacting us! We appreciate your message and will get back to you soon.</p>
    <button onclick="window.location.href = '/';">Back</button>
    </div>
    <script>
        var redirectURL = '';
    </script>
</body>
</html>